<h1>Editing Supported Projects Join</h1>

<%= render 'form', supported_projects_join: @supported_projects_join %>

<%= link_to 'Show', @supported_projects_join %> |
<%= link_to 'Back', supported_projects_joins_path %>
